.container{
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: white;
}

.grid{
    display: grid;
    grid-template-columns: 48px 1fr;
    row-gap: 17px;
    padding: 35px 28px 32px 28px;
}

.itemsLeft{
    color: #7A7A7A;
    font-family: var(--font);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: flex-end;
}

.itemsLeft span{
    color: #000;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.desc{
    color: #7A7A7A;
    font-family: var(--font);
    font-size: 0.9375;
    font-style: normal;
    font-weight: 400;
    line-height: 186.667%;
    grid-column: 2/3;

}

@media(max-width: 780px){
    .itemsLeft{
        grid-column: 2/3;
        grid-row: 3/4;
        justify-self: flex-start;
    }
}


@media(max-width: 650px){
    .grid{
        padding: 24px;
        row-gap: 24px;
    }

    .desc{
        color: #7A7A7A;
        font-family: var(--font);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 171.429%;
        grid-column: 1/3;
    }

    .itemsLeft{
        grid-column: 1/3;
    }
}