.container{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    gap: 17px;
    border: none;
}

.container:hover .radioButton{
    border: 1px solid #3CB3AB;
}

.container:hover .label{
    color: #3CB3AB;
}

.container:hover .pledge{
    font-weight: 700;
}

.radioButton{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.radioButton:hover{
    border: 1px solid #3CB3AB;
}

.greenCircle{
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #3CB3AB;
}

.radio:checked ~ .greenCircle{
    display: block;
}

.radio{
    display: none;
}

.label{
    color: black;
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.pledge{
    color: #3CB3AB;
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
